pip==20.2.4
bump2version==1.0.1
wheel==0.35.1
watchdog==0.10.3
flake8==3.8.4
tox==3.20.1
coverage==5.3
Sphinx==3.2.1
twine==3.2.0
black==19.10b0

pytest==6.1.2
pytest-runner==5.2
pytest-cov==2.10.1
pytest-aiohttp==0.3.0
uvloop==0.14.0

aiohttp==3.7.2
prometheus_client==0.8.0
